/* --- Темы --- */
body.dark {
  --bg-color: #2b2b2b;
  --text-color: #ffffff;
  --card-bg: #3a3a3a;
  --border-color: #444;
  --button-bg: #4cafef;
}

body.light {
  --bg-color: #f4f4f4;
  --text-color: #000000;
  --card-bg: #ffffff;
  --border-color: #ccc;
  --button-bg: #2196f3;
}

/* --- Общие сти
